.logo {
  width: 80px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: rgb(122, 103, 48);
}

#navbarNav a {
  padding: 5px;
}

.img-carousel {
  height: 850px;
  object-fit: cover;
  object-position: 0;
}

.card-largura {
  width: 20rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-produto {
  height: 300px;
  object-fit: cover;
}

.form-label {
  margin-bottom: unset;
  margin-top: .5rem;
}

.invalid-feedback {
  margin-bottom: .2rem;
}

.btn-enviar {
  margin-top: 15px;
  background-color: rgb(71, 60, 24);
  color: rgb(255, 255, 255);
}

.btn-enviar:hover {
  border: 1px solid;
  background-color: rgb(71, 60, 24);
  color: rgb(255, 255, 255);
}

.btn produto-amostra {
  background-color: #fff;
  color:rgb(255, 255, 255);
}